.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialog {

}

.dialogsItems .active {
    color: gold;
}

.messages .message {
    padding: 10px;
}

.message {
    padding: 10px;
}